<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SigmaLaw-ABSA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script >

        function submitClick(){

           var notEmpty = true;
           var wrongApos = false;

           if($('#pet_members').val()=="" && $('#def_members').val()==""){
                alert("Enter Party Members!");
                notEmpty = false;
           }

          var _txt1 = $('#pet_members').val().toLowerCase().trim().split(/[\s,\?\,\.!]+/);
          var _txt2 = $('#def_members').val().toLowerCase().trim().split(/[\s,\?\,\.!]+/);
          var _txt3 = $('#string').val().toLowerCase();

          if(_txt3.includes("’s")){
                wrongApos = true;
          }

           var res1 = true;
           var res2 = true;

            var i;
            for (i = 0; i < _txt1.length; i++) {
<!--                alert(_txt1.length)-->
               _txt1[i]=_txt1[i].trim()
<!--               alert(_txt1[i])-->

               if(_txt1.length==1 && _txt1[i]==""){
                    res1==true;
                    break;
                }

                res1 =  _txt3.split(/[\s,\?\,\.!]+/).some(f=> f === _txt1[i]);
                if(res1==false){
                    break;
                }
            }

            var j;
            for (j = 0; j < _txt2.length; j++) {

               _txt2[j]=_txt2[j].trim()

               if(_txt2.length==1 && _txt2[j]==""){
                    res2==true;
                    break;
                }

                res2 =  _txt3.split(/[\s,\?\,\.!]+/).some(f=> f === _txt2[j]);

                if(res2==false){
                    break;
                }

            }

            if (res1 && res2 && notEmpty){
                document.getElementById('myform').action = '/result';
            }else{
                alert("Something Wrong! Input Again");
                document.getElementById('myform').action = '/';
            }
        }

    </script>


</head>

<body>
    <header>
       <nav class="navbar navbar-style">
            <div class="container div_nav">
                <div class="navbar-header">
                    <a href=""><img class="logo" src="/static/logo.png"></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Team</a></li>
                </ul>
            </div>
       </nav>
    </header>

    <div class="container div_form">
       <div class="row">

           <form method="POST" id="myform" onsubmit="return submitClick();">
<!--               <form action="/result" method="POST" id="myform">-->
               <div class="col-md-6 form-group div">
                  <h1>SigmaLaw-Party Based Sentiment Analysis</h1>
                  <label for="string">Sentence:</label><br>
                    <input type="text" id="string" name="string" value="" required><br>
                  <label for="pet_members">Petitioner Members:</label><br>
                    <input type="text" id="pet_members" name="pet_members" value="" ><br>
                  <label for="def_members">Defendant Members:</label><br>
                    <input type="text" id="def_members" name="def_members" value="" ><br>
                   <div align="center">
<!--                       <input type="submit" value="Submit">-->
                     <input type="submit" name="send" value="Submit">
                        <input type="reset" value="Cancel">
                   </div>

               </div>
           </form>

           <div class="col-md-6">
                <img src="/static/image.jpg" class="img-responsive banner_image">
           </div>
       </div>


    <!--footer-->
       <div class="footer d-flex justify-content-between">
        <div class="col-sm-4 footer_content" style="padding-left: 25px;">ABOUT
            <p style="font-size: 13px; font-weight: 400; padding-top: 15px;">SigmaLaw-ABSA provides an easy way to lawyers or legal officials to obtain polarity level with respect to each legal party mentioned in a sentence.</p>
        </div>
        <div class="col-sm-5 footer_content" style="padding-left: 60px;">CONTACT US
            <p style="font-size: 13px;margin-bottom: auto; font-weight: 400;padding-top: 15px;" ><i style="font-size:26px" class="fa fa-map-marker"></i><span style="margin-left: 20px; position: absolute;">Department of Computer Science & Engineering,
               University of Moratuwa,
               Sri Lanka.</span>
            </p>
<!--            <p style="font-size: 13px; margin-bottom: auto; font-weight: 400;"><i style="font-size:26px" class="fa fa-phone"></i><span style="margin-left: 10px; position: absolute;">(+94) 71 7438927</span></p>-->
            <p style="font-size: 13px; font-weight: 400;"><i style="font-size:24px" class="fa fa-envelope"></i><span style="margin-left: 10px; position: absolute;">sigmalaw.absa@gmail.com</span></p>
        </div>
        <div class="col-sm-3 footer_content">FOLLOW US
            <p style="padding-top: 25px;"><i class="fa fa-facebook-square" style="margin: 0 6px; font-size:48px;color: #3b5998d1"></i><span></span>
            <i class="fa fa-github" style="margin: 0 6px; font-size:48px; color:#333333d6"></i></i><span></span>
            <i class="fa fa-linkedin-square" style="margin: 0 6px; font-size:48px;color:#2867b2d9"></i><span></span></p>
        </div>
       </div>

    <!-- end of footer-->

   </div>

</body>
</html>